version: "3.4"

services:

  netmaker:
    container_name: netmaker
    image: gravitl/netmaker:v0.20.2
    restart: always
    volumes:
      - dnsconfig:/root/config/dnsconfig
      - sqldata:/root/data
    environment:
      # config-dependant vars
      - STUN_LIST=stun1.netmaker.io:3478,stun2.netmaker.io:3478,stun1.l.google.com:19302,stun2.l.google.com:19302
      # The domain/host IP indicating the mq broker address
      - BROKER_ENDPOINT=wss://stg-nm-broker.simplevrithin.com
      # The base domain of netmaker
      - SERVER_NAME=simplevrithin.com
      - SERVER_API_CONN_STRING=stg-nm-api.simplevrithin.com:443
      # Address of the CoreDNS server. Defaults to SERVER_HOST
      - COREDNS_ADDR=52.221.180.237
      # Overrides SERVER_HOST if set. Useful for making HTTP available via different interfaces/networks.
      - SERVER_HTTP_HOST=stg-nm-api.simplevrithin.com
      # domain for your turn server
      - TURN_SERVER_HOST=stg-nm-turn.simplevrithin.com
      # domain of the turn api server
      - TURN_SERVER_API_HOST=https://stg-nm-turnapi.simplevrithin.com

  netmaker-ui:
    container_name: netmaker-ui
    image: gravitl/netmaker-ui:v0.20.2
    environment:
      # config-dependant vars
      # URL where UI will send API requests. Change based on SERVER_HOST, SERVER_HTTP_HOST, and API_PORT
      BACKEND_URL: "https://stg-nm-api.simplevrithin.com"
    depends_on:
      - netmaker
    links:
      - "netmaker:api"
    restart: always

  caddy:
    image: caddy:2.6.2
    container_name: caddy
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./certs:/root/certs
      - caddy_data:/data
      - caddy_conf:/config
    ports:
      - "80:80"
      - "443:443"

  coredns:
    container_name: coredns
    image: coredns/coredns
    command: -conf /root/dnsconfig/Corefile
    depends_on:
      - netmaker
    restart: always
    volumes:
      - dnsconfig:/root/dnsconfig
  mq:
    container_name: mq
    image: eclipse-mosquitto:2.0.15-openssl
    depends_on:
      - netmaker
    restart: unless-stopped
    command: [ "/mosquitto/config/wait.sh" ]
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./wait.sh:/mosquitto/config/wait.sh
      - mosquitto_logs:/mosquitto/log
      - mosquitto_data:/mosquitto/data

  turn:
    container_name: turn
    image: gravitl/turnserver:v1.0.0
    environment:
      # config-dependant vars
      - USERNAME=admin
      - PASSWORD=123456
      # domain for your turn server
      - TURN_SERVER_HOST=stg-nm-turn.simplevrithin.com
    network_mode: "host"
    volumes:
      - turn_server:/etc/config
    restart: always

volumes:
  caddy_data: { } # runtime data for caddy
  caddy_conf: { } # configuration file for Caddy
  sqldata: { }
  dnsconfig: { } # storage for coredns
  mosquitto_logs: { } # storage for mqtt logs
  mosquitto_data: { } # storage for mqtt data
  turn_server: { }
